<body>
    <div class="background-img" style="background-image: url('../assets/img/sections/martin-knize.jpg')">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <h1 class="title"> &nbsp;404 <br/>
                    <p class="error-msg">The page you requested could not be found</p>
                </h1>


            </div>
            <div class="container-cards">
                <div class="row">
                    <h5 class="discover-pages text-center">You can go to:</h5>
                    <br/><br/><br/>
                </div>

                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <div class="card card-just-text">
                                    <div class="card-body text-center">
                                        <div class="card-icon"><a [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i></a></div>
                                        <p class="card-description">Login</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div class="card card-hover-effect card-just-text">
                                    <div class="card-body text-center">
                                        <h4 class="card-icon"><a [routerLink]="['/dashboard']"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></h4>
                                        <p class="card-description">Dashboard</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div class="card card-hover-effect card-just-text">
                                    <div class="card-body text-center">
                                        <h4 class="card-icon"><a [routerLink]="['/register']"><i class="fa fa-user-plus" aria-hidden="true"></i></a></h4>
                                        <p class="card-description">Register</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
